/* All code except those portions with comments indicating otherwise are from the SFU class IAT 339, taught by Paul Brokenshire, in the winter semester of 2021*/

* {
	box-sizing: border-box;
}

header {
	display: grid;
	grid-column: span 12;
}

main {
	grid-column: span 12;
}




/*Site Wide Grid Classes*/
.grid-container { /*12 column Site grid*/
 	display: grid;
	min-height: 100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto;
}

.grid-section { /*Grid applied to each section*/
	display: grid;
	/*How to force columns to stay the same width:
	https://css-tricks.com/equal-width-columns-in-css-grid-are-kinda-weird/*/
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-col-2-12 { /*Column spacing for columns spanning from column 2 to 12*/
	grid-column: 2 / 12;
}




/*Footer navigation and newsletter*/

.footer-grid {
	display: grid;
	grid-template-rows: auto auto auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
}

.footer-grid .footer-grid-col{
    grid-column: 2/ 12;
}

.footer_menu {
	display:grid;
	grid-column-start: 1;
	grid-column-end: 11;
	grid-template-columns: 1fr 1fr;
}

.contactUsParent{
	grid-column: span 12;
	display: flex;
    justify-content: center;
}

@media screen and (max-width: 32em) {
	.footer_menu {
		grid-template-columns: 1fr;
	}

	#footer_menu_links {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}


	#footer_menu_links li {
		display:flex;
		justify-content: center;
	}

	#footer_menu_links a {
		margin-bottom: 1rem;
		margin-right: 0;
	}

	#footer_menu_socials {
		justify-content: right;
	}
		
}




/*Main navigation bar*/

.main-nav-grid {
	display: grid;
	grid-template-rows: auto auto auto;
    grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
}

.main-nav-grid .main-nav-title-items {
	grid-column: 2 / 12;
}

@media screen and (max-width: 57em) {
	.main-nav {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	#site-main-nav-toolbar {
		/*Advice for using the inherit value for the position property so that flex tags can be used on the toolbar elemnts which I had previously set to an absolute value from my wife, Bri*/
		position: inherit;
		justify-content: center;
	}

	.site-main_nav {
		justify-content: center;
		flex-direction: column;
	}

	ul.site-main_nav {
		align-items: center;
	}

	input.search-bar {
		border:1px solid white;
	}

	.site-main-nav li {
		margin-left: 0;
		margin-top: 0.5rem;
	}

	.main-nav-title-items {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

}




/*Hero Image: maintained by Kai-Lee*/

.hero-grid {
	position: relative;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
}

.hero-image {
	grid-column: span 12;
}

.hero-text {
	grid-column: 2 / 12;
}

@media screen and (max-width: 43em) {
	.text_overlay h2 {
		font-size: 1.5rem;
	}

	.text_overlay a {
		font-size: 0.75rem;
	}
}




.nav-row-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/*grid-column-start: 2;
	grid-column-end:span 6;*/
	/*grid-column: 2 / 6;*/
}

.main-nav-item {}

}

@media screen and (max-width: 41em) {
	.nav-row-container {
		grid-template-columns: 1fr;
	}
}



/*Product detail*/


.product-grid {
	display: grid;
	grid-template-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
}

.product-grid .product-grid-col-thumb {
    grid-column: 2/ 4;
}

.product-grid .product-grid-col-feature {
    grid-column: 4/ 12;
    grid-row: span 1;
}

.product-grid .product-grid-col{
    grid-column: 2/ 12;
}

/*.product-thumbnail {
	display: grid;
	grid-template-columns: 1fr 4fr;

}*/




/*Curated Collections*/

.three_column_grid {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
}

.three_column_grid .three-column-grid-heading {
	grid-column: 2 / 12;
}

.three_column_grid_items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 2 / 12;
}

@media screen and (max-width: 47em) {
	.three_column_grid_items {
		grid-template-columns: 1fr;
	}

	.three_column_items {
		padding: 3rem 0;
		display: flex;
		flex-direction: column;
	}

	.three_column_items img {
		display: flex;
		justify-content: center;
		padding: 0;
		margin-right: 0;
		margin: 0;
	}

	.three_column_items h5 {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}

	.three_column_items p {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}


/* para_left_and_picture_right module (most popular look) */

.para_left_and_picture_right {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.para_left_and_picture_right_left_side {
	display: grid;
	grid-column: 2 / 5;
	grid-template-rows: 1fr 1fr;
}

.image_section_right {
	display: grid;
	grid-column: 7 / 12;
	/* grid-template-rows: 2em 3em 1fr 1fr; */
}


/* para_right_and_picture_left module (new look) */

.para_right_and_picture_left {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.para_right_and_picture_left_left_side {
	display: grid;
	grid-column: 2 / 7;
}

.para_right_and_picture_left_right_side {
	display: grid;
	grid-column: 7 / 12;
	grid-template-rows: 1fr 1fr;
}


/* tripple image and description module (complete look book) */

.twelve_grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 3em 2em 1fr; 
}

.span_all_width{
	grid-column: 2 / 12;
}

.three_picture_row{
	display: grid;
	grid-column: 3 / 11;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-rows: 1fr 1fr 1fr; 

}

/*bryan's contact / shipping info page */
/* .twelve_grid .shipping_contact_page{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 1fr; 
}

.contact_page_title_module{
	grid-column: 2 / 12;
}

.shipping_info_question_grid{
	grid-column: 2 / 12;
} */