/* All code except those portions with comments indicating otherwise are from the SFU class IAT 339, taught by Paul Brokenshire, in the winter semester of 2021*/

* {
	box-sizing: border-box;

}

.grid-container{
 	display: grid;
	min-height: 100vh;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto auto;

}

header {
	display: grid;
	grid-column: span 6;
}


/*Footer navigation and newsletter*/

.footer {
	display: grid;
	grid-column: span 6;
}

.footer_menu {
	display:grid;
	grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 32em) {
	.footer_menu {
		grid-template-columns: 1fr;
	}
		
}

#footer_menu_links {
	display: flex;
	justify-content: center;
	flex-direction: column;
}


#footer_menu_links li {
	display:flex;
	justify-content: center;
}

#footer_menu_links a {
	margin-bottom: 1rem;
	margin-right: 0;
}

#footer_menu_socials {
	justify-content: center;
}



/*Main navigation bar*/

.main_nav_grid {
	display: grid;
	grid-column: span 6;
}

@media screen and (max-width: 57em) {
	.main_nav {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	#site_main_nav_toolbar {
		/*Advice for using the inherit value for the position property so that flex tags can be used on the toolbar elemnts which I had previously set to an absolute value from my wife, Bri*/
		position: inherit;
		justify-content: center;
	}

	.site_main_nav {
		justify-content: center;
		flex-direction: column;
	}

	ul.site_main_nav {
		align-items: center;
	}

	input.searchBar {
		border:1px solid white;
	}

	.site_main_nav li {
		margin-left: 0;
		margin-top: 0.5rem;
	}

	.main_nav_title_items {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
		
}


/*New Arrivals*/

#new_arrivals {
	display: grid;
	grid-column: span 6;
}

@media screen and (max-width: 43em) {
	.text_overlay h2 {
		font-size:1.5rem;
	}

	.text_overlay a {
		font-size:0.75rem;
	}
}




main {
	grid-column: span 6;
}

.contactUsParent{
	display:grid;
}

.nav-row-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/*grid-column-start: 2;
	grid-column-end:span 6;*/
	/*grid-column: 2 / 6;*/
}

.main-nav-item {

}

.product-thumbnail {
	display: grid;
	grid-template-columns: 1fr 4fr;

}

@media screen and (max-width: 41em) {
	.nav-row-container {
		grid-template-columns: 1fr;
	}
}



/*Curated Collections*/


.three_column_grid {
	display: grid;
	grid-template-rows: auto auto;

}

.three_column_grid_items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 90%;
}

@media screen and (max-width: 47em) {
	.three_column_grid_items {
		grid-template-columns: 1fr;
	}

	.three_column_items {
		padding: 3rem 0;
		display: flex;
		flex-direction: column;
	}

	.three_column_items img {
		display: flex;
		justify-content: center;
		padding: 0;
		margin-right: 0;
		margin: 0;
	}

	.three_column_items h5 {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}

	.three_column_items p {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

	
