/* All code except those portions with comments indicating otherwise are from the SFU class IAT 339, taught by Paul Brokenshire, in the winter semester of 2021*/

body {
	background-color:#131313;
	color:#FFFFFF;
	font-weight:normal;
	margin-top:0;
	font-size:1rem;
	overflow-x:hidden;
}

h1 {
	font-size:4rem;
	font-family:'Italiana', Times New Roman, serif;
	color:#FFFFFF;
	margin-bottom:0;
	/*How to center align text taken from:
	https://www.w3schools.com/css/css_align.asp*/
	text-align:center;
	font-weight:400;
}

/* How to style horizontal lines taken from:
https://www.w3schools.com/howto/howto_css_style_hr.asp
Figuring out how to adjust line weight by playing around with the opacity in inspect elements and suggesting to switch from hex values to rgb values in order to support the opacity change is from my wife, Bri */
hr {
	border-top:1px solid rgba(255, 255, 255, 0);
	margin-top:0;
	margin-bottom:1rem;
}

h2 {
	font-size:3rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
}

h3 {
	font-size:2rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
}

h4 {
	font-size:1.5rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
}

h5 {
	font-size:1.2rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
}

p {
	font-family:'Mulish', Arial, sans-serif;
	font-size:1rem;
	font-weight:lighter;
	width:clamp(45ch, 70%, 75ch);
	width:clamp(16rem, 100vw, 75rem);
}

a {
	color:#908272;
	text-decoration:none;
}

a:hover {
	color:#BEA384;
	text-decoration:underline;
}

img {
	max-width:100%;
	height:auto;
}

main section {
	margin-bottom:2rem;
	padding:1rem;
}

header {
	color:#131313;
}

ul {
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
}

ol {
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
}




.colorSwatch {
		height:100px;
		width:100px;
		outline: 1px solid black;
	}

.colorSwatch.beige {
		background-color:#908272;
	}

.colorSwatch.white {
		background-color:#FFFFFF;
	}

.swatchFigure {
	text-align:center;
	font-family:'Mulish', Arial, sans-serif;
}

/* Help with how to center align block vs inline-block elements from my wife, Bri*/
.swatchFigure div {
	display:inline-block;
}

.blackButton {
	font-family:'Mulish', Arial, sans-serif; 
	background-color:black;
	color:#FFFFFF;
	padding:1rem 2rem;
	outline: 1px solid rgba(255,255,255,0.5);
	text-transform:uppercase;
	display:inline-block;
	margin-bottom:2.5rem;
}

.greyButton {
	font-family:'Mulish', Arial, sans-serif; 
	background-color:#131313;
	color:white;
	padding:1rem 2rem;
	outline: 1px solid rgba(255,255,255,0.5);
	text-transform:uppercase;
	display:inline-block;
	margin-bottom:2.5rem;
}

.whiteButton {
	font-family:'Mulish', Arial, sans-serif; 
	background-color:white;
	color:black;
	padding:1rem 2rem;
	outline: 1px solid rgba(0,0,0,0.5);
	text-transform:uppercase;
	display:inline-block;
	margin-bottom:2.5rem;
}

.blackButton:hover {
	background-color:white;
	color:black;
	outline: 1px solid rgba(0,0,0,0.5);
	text-decoration:none;
	color:black;
	display:inline-block;
	margin-bottom:2.5rem;
}

.greyButton:hover {
	background-color:white;
	color:black;
	outline: 1px solid rgba(0,0,0,0.5);
	text-decoration:none;
	color:black;
	display:inline-block;
	margin-bottom:2.5rem;
}

.whiteButton:hover {
	background-color:#C7C6C4;
	color:white;
	outline: 1px solid rgba(0,0,0,0.5);
	text-decoration:none;
	display:inline-block;
	margin-bottom:2.5rem;
}

/* To get a white background for a single section I used a solution recommended in the comments of the following tutorial by user timd.mackey from May 16, 2011. It also included adding  overflow-x:hidden; to the body element 
https://css-tricks.com/full-browser-width-bars/*/
.whiteBackground {
	background-color:white;
	color:black;
	margin:0px -2000px;
	padding:1rem 2000px;
}

/* Help understanding why centering the text and removing the underline for my mainNav class wasn't working the way I expected and advice to target mainNav and mainNav anchor elements separately from my wife, Bri */
.mainNav {
	text-align:center;
}

.mainNav a {
	padding:0.5em 2em;
	display:inline-block;
	text-decoration:none;
	color:#FFFFFF;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:0.65rem;
}

.mainNav a:hover {
	text-decoration:underline;
	}

form.contactUs {
	font-family:'Mulish', Arial, sans-serif;
	margin:2rem 0rem;
	/*Code for flex box from: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
	display:inline-flex;
	flex-direction: column;
	align-items:center;
}

form.contactUs .greyButton{
	margin:2rem;
}

label.contactUs {
	text-transform:uppercase;
	font-weight:bold;
	font-size:0.75rem;
	margin:1rem 0 0 0;
}

input.contactUs {
	width:clamp(15rem, 30vw, 75rem);
	height:2.5rem;
	margin-top:2rem;
	padding:0 1rem;
	border-color:#C7C6C4;
	border-width: 1px;
	border-radius: 2px;
}

/*I was trying to figure out how to style the main navigation bar, but at this point realized I actually only needed to do the HTML for this submission so am going to leave it for now and hopefully it'll make more sense after next class*/

ul.siteMainNav {
	list-style-type:none;
	margin:0;
	padding:0;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
	font-size:0.75rem;
	text-align:right;
}

.siteMainNav li {
	display:inline;
}

a.signIn {
	color:white;
	text-decoration:none;
}

a.signIn:hover {
	color:#908272;
}

form.searchBar {
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
	font-size:0.75rem;
	display:inline-block;
}

label.searchBar {
	
}

input.searchBar {
	background-color:#131313;
	
}


/*Styling for the site footer menu*/

.footer {
	margin: 5rem 0;
}

.footer_menu a {
	text-decoration:none;
	color:#FFFFFF;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:0.65rem;
}

.footer_menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
}

#footer_menu_links {
	display:flex;
	flex-direction: row;
}

#footer_menu_links a {
	margin-right: 2rem;
}

#footer_menu_socials {
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	
	align-items: center;
}

#footer_menu_socials a {
	margin:0 0.5rem;
}