/* All code except those portions with comments indicating otherwise are from the SFU class IAT 339, taught by Paul Brokenshire, in the winter semester of 2021*/

.box {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}

.box-item-nav {
	-webkit-flex: 1 1 100%;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
}

.hidden {
	display:none;
}

/*Cursor hand appears when cursor is over the menu title to indicate interactability*/
.nav_top_link{
	cursor:pointer;
}

.box_item_nav a:focus {
	outline:none;
}

.dropdown_wrapper{
	position: absolute;
	/*Allows dropdown menu to appear above page elements*/
	z-index:100;
	background-color: #131313;
}

.menu_wrapper{
	position: relative;
	display:inline-block;
}
