/* All code except those portions with comments indicating otherwise are from the SFU class IAT 339, taught by Paul Brokenshire, in the winter semester of 2021*/

* {
	box-sizing: border-box;
}

header {
	/*display: grid;*/
	grid-column: span 12;
}

main {
	grid-column: span 12;
}




/*Site Wide Grid Classes*/
.grid-container { /*12 column Site grid*/
 	display: grid;
	min-height: 100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto;
}

.grid-section { /*Grid applied to each section*/
	display: grid;
	/*How to force columns to stay the same width:
	https://css-tricks.com/equal-width-columns-in-css-grid-are-kinda-weird/*/
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin:0;
}

.grid-col-2-12 { /*Column spacing for columns spanning from column 2 to 12*/
	grid-column: 2 / 12;
}




/*Main navigation bar: maintained by Kai-Lee*/

.main-nav-grid {
	display: grid;
	grid-template-rows: auto auto auto;
    grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
}

.main-nav-grid .main-nav-title-items {
	grid-column: 2 / 12;
}

@media screen and (max-width: 57em) {
	.main-nav {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	#site-main-nav-toolbar {
		/*Advice for using the inherit value for the position property so that flex tags can be used on the toolbar elemnts which I had previously set to an absolute value from my wife, Bri*/
		position: inherit;
		justify-content: center;
	}

	.site-main-nav {
		justify-content: center;
		flex-direction: column;
	}

	ul.site-main-nav {
		align-items: center;
	}

	input.search-bar {
		border:1px solid white;
	}

	.site-main-nav li {
		margin-left: 0;
		margin-top: 0.5rem;
	}
}



/*Footer navigation and newsletter*/

.footer-grid {
	display: grid;
	grid-template-rows: auto auto auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
}

.footer-grid .footer-grid-col{
    grid-column: 2/ 12;
}

.footer-menu {
	display:grid;
	grid-column-start: 1;
	grid-column-end: 11;
	grid-template-columns: 1fr 1fr;
}

.newsletter {
	grid-column: span 12;
	display: flex;
    justify-content: center;
}

@media screen and (max-width: 32em) {
	.footer-menu {
		grid-template-columns: 1fr;
	}

	#footer-menu-links {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	#footer-menu-links li {
		display:flex;
		justify-content: center;
	}

	#footer-menu-links a {
		margin-bottom: 1rem;
		margin-right: 0;
	}

	#footer-menu-socials {
		justify-content: center;
	}
}



