/* All code except those portions with comments indicating otherwise are from the SFU class IAT 339, taught by Paul Brokenshire, in the winter semester of 2021*/

* {
	box-sizing: border-box;
}

header {
	/*display: grid;*/
	grid-column: span 12;
}

main {
	grid-column: span 12;
}




/*Site Wide Grid Classes*/
.grid_container { /*12 column Site grid*/
 	display: grid;
	min-height: 100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto;
}

.grid_section { /*Grid applied to each section*/
	display: grid;
	/*How to force columns to stay the same width:
	https://css-tricks.com/equal-width-columns-in-css-grid-are-kinda-weird/*/
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin:0;
}

.grid_col_2_12 { /*Column spacing for columns spanning from column 2 to 12*/
	grid-column: 2 / 12;
}




/*Main navigation bar: maintained by Kai-Lee*/

.main_nav_grid {
	display: grid;
	grid-template-rows: auto auto auto;
    grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
}

.main_nav_grid .main_nav_title_items {
	grid-column: 2 / 12;
}

@media screen and (max-width: 57em) {
	.main_nav {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	#site_main_nav_toolbar {
		/*Advice for using the inherit value for the position property so that flex tags can be used on the toolbar elemnts which I had previously set to an absolute value from my wife, Bri*/
		position: inherit;
		justify-content: center;
	}

	.site_main_nav {
		justify-content: center;
		flex-direction: column;
	}

	ul.site_main_nav {
		align-items: center;
	}

	input.search_bar {
		border:1px solid white;
	}

	.site_main_nav li {
		margin-left: 0;
		margin-top: 0.5rem;
	}
}




/*Hero Image: maintained by Kai-Lee*/

.hero_grid {
	position: relative;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
}

.hero_image {
	grid-column: span 12;
}

.hero_text {
	grid-column: 2 / 12;
}

@media screen and (max-width: 43em) {
	.text_overlay h2 {
		font-size: 1.5rem;
	}

	.text_overlay a {
		font-size: 0.75rem;
	}
}




/*Curated Collections: maintained by Kai-Lee*/

.three_column_grid {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
}

.three_column_grid .three_column_grid_heading {
	grid-column: 2 / 12;
}

.three_column_grid_items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 2 / 12;
}

@media screen and (max-width: 54em) {
	.three_column_grid_items {
		grid-template-columns: 1fr;
	}

	.three_column_items {
		padding: 3rem 0;
		display: flex;
		flex-direction: column;
	}

	.three_column_items img {
		display: flex;
		justify-content: center;
		padding: 0;
		margin-right: 0;
		margin: 0;
	}

	.three_column_items h5 {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}

	.three_column_items p {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}




/*New Arrivals: maintained by Kai-Lee*/

.five_column_grid_items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 2 / 12;
	grid-gap: 3rem;
	margin-bottom: 3rem;
}

.left_arrow {
	grid-column:1;
}

.right_arrow {
	grid-column: 12;
}

a.page_numbers_arrows {
	display: flex;
	justify-content: center;
	/*How to give unique alignment to item in a grid from:
	https://webdesign.tutsplus.com/tutorials/the-quirks-of-css-grid-and-absolute-positioning--cms-31437*/
	position: relative;
	top: 25%;
}

.three_column_items {
	grid-column-gap: 3rem;
}

@media screen and (max-width: 45em) {
	.five_column_grid_items {
		grid-template-columns: 1fr;
	}

	.left_arrow img {
	width: 0%;
	}

	.right_arrow img {
		width: 0%;
	}

	.three_column_items p {
		/*Fix alignment later*/
	}
}




/*Product Page: maintained by Kai-Lee*/

.product_page_grid {
	display: grid;
	grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
}

.product_page_row {
	grid-column: 2 / 12;
}

@media screen and (max-width: 57.5em) {
	.product_page_grid .three_column_grid_items {
		grid-template-columns: 1fr;
	}
}




/*Product detail Images: maintained by Kai-Lee*/

.product_grid {
	display: grid;
	grid-template-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
	padding:3rem 0;
}

.product_grid .product_grid_col_thumb {
    grid-column: 2/ 3;
    margin-right:0.5rem;
}

.product_grid .product_grid_col_thumb_img{
	margin-bottom: 0.5rem;
}

.product_grid .product_grid_col_feature {
    grid-column: 3/ 12;
}

@media screen and (max-width: 62.5em) {
	.product_grid .product_grid_col_thumb {
	    grid-column: 2 / 12;
	    display:grid;
	    grid-template-columns: repeat(4, 1fr);
	    margin-right: 0;
	    column-gap: 0.5rem;
	    /*Trick to reverse order of the feature image and the thumbnails by using the order tag taught to me by my wife, Bri MacBain*/
	    order:2;
	}

	.product_grid .product_grid_col_feature {
	    grid-column: 2 / 12;
	    order:1;
	    margin-bottom: 0.5rem
	}
}

/*Product detail Description: maintained by Kai-Lee*/

.product_info {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column: 3 / 12;
}

@media screen and (max-width: 62.5em) {
	.product_info {
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;
	}

	.product_info_selection1 {
		justify-content: center;
	}

	.product_info_selection1 p {
		width: auto;
	}

	.product_info_selection2 {
		margin-top: 3rem;
		width: fit-content;
	}
}

@media screen and (max-width: 37.5em) {
	.clamp_text {
		width: auto;
	}
}





/*Footer navigation and newsletter: maintained by Kai-Lee*/

.footer_grid {
	display: grid;
	grid-template-rows: auto auto auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
    margin-top: 12rem;
}

.footer_grid .footer_grid_col{
    grid-column: 2/ 12;
}

.footer_menu {
	display:grid;
	grid-column-start: 1;
	grid-column-end: 11;
	grid-template-columns: 1fr 1fr;
}

.newsletter {
	grid-column: span 12;
	display: flex;
    justify-content: center;
}

@media screen and (max-width: 32em) {
	.footer_menu {
		grid-template-columns: 1fr;
	}

	#footer_menu_links {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	#footer_menu_links li {
		display:flex;
		justify-content: center;
	}

	#footer_menu_links a {
		margin-bottom: 1rem;
		margin-right: 0;
	}

	#footer_menu_socials {
		justify-content: center;
	}
}



