/*Text Styling: maintained by Kai-Lee*/

body {
	background-color:#131313;
	color:#FFFFFF;
	font-weight:normal;
	margin:0;
	padding:0;
	font-size:1rem;
}

h1 {
	font-size:4rem;
	font-family:'Italiana', Times New Roman, serif;
	color:#FFFFFF;
	margin-bottom:0;
	/*How to center align text taken from:
	https://www.w3schools.com/css/css_align.asp*/
	text-align:center;
	font-weight:400;
	line-height: 0.8;
	transform: uppercase;
}

/* How to style horizontal lines taken from:
https://www.w3schools.com/howto/howto_css_style_hr.asp
Figuring out how to adjust line weight by playing around with the opacity in inspect elements and suggesting to switch from hex values to rgb values in order to support the opacity change is from my wife, Bri */
hr {
	border-top:1px solid rgba(255, 255, 255, 0);
	margin-top:0;
	margin-bottom:1rem;
}

h2 {
	font-size:3rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
	margin-bottom: 0.5rem;
	margin-top:4rem;
	transform: uppercase;
}

h3 {
	font-size:2rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
	transform: uppercase;
}

h4 {
	font-size:1.5rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
	transform: uppercase;
}

h5 {
	font-size:1.25rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
	transform: uppercase;
}

p {
	font-family:'Mulish', Arial, sans-serif;
	font-size:1rem;
	font-weight:lighter;
}

a {
	color:#908272;
	text-decoration:none;
}

a:hover {
	color:#BEA384;
	text-decoration:underline;
}

img {
	width:100%;
	height:auto;
}

main section {
	margin-left: 0;
	margin-right: 0;
}

header {
	color:#131313;
}

ul {
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
}

ol {
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
}



/*Styling for sections with white background: maintained by Kai-Lee*/

.white_background {
	background-color:white;
	color:black;
}




/*Paragraph styling to clamp text: maintained by Kai-Lee*/

.clamp_text {
	width:clamp(45ch, 70%, 75ch);
}




/*Styling for Breadcrums*/

.breadcrumbs {
	display: flex;
	align-items: baseline;
}

.breadcrumbs p {
	margin: 0 0.5rem 0.5rem 0.5rem;
}

.breadcrumbs .breadcrumbs_bold {
	font-weight: bold;
	margin: 0 0.5rem 0.5rem 0;
}




/*Button styling: maintained by Kai-Lee*/

.black_button {
	font-family:'Mulish', Arial, sans-serif; 
	background-color:black;
	color:#FFFFFF;
	padding:1rem 2rem;
	outline: 1px solid rgb(255,255,255);
	text-transform:uppercase;
	display:inline-block;
	margin-bottom:2.5rem;
}

.grey_button {
	font-family:'Mulish', Arial, sans-serif; 
	background-color:#131313;
	color:white;
	padding:1rem 2rem;
	outline: 1px solid rgba(0,0,0,0.5);
	text-transform:uppercase;
	display:inline-block;
	margin-bottom:2.5rem;
}

.white_button {
	font-family:'Mulish', Arial, sans-serif; 
	background-color:white;
	color:black;
	padding:1rem 2rem;
	outline: 1px solid rgba(0,0,0,0.5);
	text-transform:uppercase;
	display:inline-block;
	margin-bottom:2.5rem;
}

.black_button:hover {
	background-color:white;
	color:black;
	outline: 1px solid rgba(0,0,0,0.5);
	text-decoration:none;
	color:black;
	display:inline-block;
	margin-bottom:2.5rem;
}

.grey_button:hover {
	background-color:white;
	color:black;
	outline: 1px solid rgba(0,0,0,0.5);
	text-decoration:none;
	color:black;
	display:inline-block;
	margin-bottom:2.5rem;
}

.white_button:hover {
	background-color:#C7C6C4;
	color:white;
	outline: 1px solid rgba(0,0,0,0.5);
	text-decoration:none;
	display:inline-block;
	margin-bottom:2.5rem;
}





/*Main navigation bar styling: maintained by Kai-Lee*/ 

/* Help understanding why centering the text and removing the underline for my mainNav class wasn't working the way I expected and advice to target mainNav and mainNav anchor elements separately from my wife, Bri */
.main_nav {
	text-align:center;
}

.main_nav a {
	padding:0.5em 2em;
	display:inline-block;
	text-decoration:none;
	color:#FFFFFF;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:0.65rem;
}

.main_nav a:hover {
	text-decoration:underline;
}

ul.site_main_nav {
	list-style-type:none;
	margin:0;
	padding:0;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
	font-size:0.75rem;
	text-align:right;
	display: flex;
	align-items: flex-end;
}

.site_main_nav li {
	display:inline;
	margin-left: 1rem;
}

a.sign_in {
	color:white;
	text-decoration:none;
	color:#FFFFFF;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:0.65rem;
}

a.sign_in:hover {
	color:#908272;
}


.search_bar {
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
	font-size:0.75rem;
	display:flex;
	align-items: flex-end;
	margin-right: 0.5rem;
}

input.search_bar {
	background-color:#131313;
	text-align: right;
	border:0;
}

input.search_bar:focus {
	/*Advice to use outline tag instead of border for input box from my wife, Bri MacBain*/
	outline: none;
	border:1px solid white;
}

input.search_button:focus {
	outline: none;
	border:1px solid white;
}

#site_main_nav_toolbar {
	/*Suggestion to use the position property to align the title toolbar elements from my wife, Bri MacBain. Tutorial for how to use this property from: https://css-tricks.com/almanac/properties/p/position/ 
	(parent elment below in the main_nav_title_items class*/
	position:absolute;
	right: 0;
	bottom: 0;
	display:flex;
	justify-content: flex-end;
}

#site_title {
	display: flex;
	justify-content: center;
}

.main_nav_title_items {
	position: relative;
}




/*Hero image styling: maintained by Kai-Lee*/

.hero_image {
	margin:2rem 0;
}

.hero_image img {
	/*Changing opacity of image from:
	https://www.w3schools.com/css/css_image_transparency.asp*/
	opacity: 0.6;
}

.hero_text {
	position: absolute;
	bottom: 40%;
}

.hero_text h2 {
	color:#FFFFFF;
}




/*Curated Collections styling: maintained by Kai-Lee*/

.three_column_grid_items {
	grid-column-gap: 3rem
}

.three_column_grid_heading h4 {
	margin-top: 6rem;
}

.three_column_items h5 {
	width:auto;
	margin-top: 1rem;
	margin-bottom: 0;
}

.three_column_grid_items .three_column_items:hover img {
	opacity: 0.7;
}





/*New Arrivals: maintained by Kai-Lee*/

.three_column_grid_heading h3 {
	margin-top: 6rem;
}

.five_column_grid_items .three_column_items h5 {
	margin-top: 2rem;
}

.left_arrow img {
	width: 25%;
}

.right_arrow img {
	width: 25%;
}

.three_column_items:hover img {
	opacity: 0.7;
}





/*Product Page: maintained by Kai-Lee*/

.product_page_grid {
	margin-top: 6rem;
}

.product_page_grid .breadcrumbs a {
	color: white;
}

.product_page_grid .breadcrumbs p {
	color: #908272;
}

.product_page_grid .three_column_grid_items {
	margin-bottom: 3rem;
	grid-column-gap: 3rem;
}

.product_page_row h3 {
	margin: 0 0 3rem 0;
}

.page_numbers {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page_numbers_items {
	margin:0 3rem;
}

.page_numbers_items p {
	font-size: 1.25rem;
}

a.page_numbers_items:hover {
	text-decoration: none;
	color:white;
}

a.page_numbers_items:focus {
	text-decoration: underline;
}

.page_numbers_arrows:hover img {
	opacity:0.5;
}

/*Product Detail: maintained by Kai-Lee*/

.product_info {
	margin-top: 2rem;
}

.product_info_selection2 p {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.product_info h5 {
	color: black;
	margin-top: 0;
	
}

.product_info h4 {
	color: black;
	margin: 0;
	margin-bottom: 0.5rem;
}

.product_info_quantity {
	margin-top: 2rem;
}

.product_info_amount {
	display: flex;
	align-items: center;
}

.product_info_amount_item {
	margin-right: 1rem;
}

.product_info_buttons {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 2rem;
}

.product_info_buttons .white_button {
	margin-bottom: 0.5rem;
	align-items: baseline;
}

/*Advice for which flex tags to use to get the icon and text to line up on this button from my wife, Bri MacBAin*/
.product_info_buttons a.white_button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product_info img {
	width:auto;
}




/*Product Detail: maintained by Kai-Lee*/

.product_info {
	margin-top: 2rem;
}

.product_info_selection2 p {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.product_info h5 {
	color: black;
	margin-top: 0;
	
}

.product_info h4 {
	color: black;
	margin: 0;
	margin-bottom: 0.5rem;
}

.product_info_quantity {
	margin-top: 2rem;
}

.product_info_amount {
	display: flex;
	align-items: center;
}

.product_info_amount_item {
	margin-right: 1rem;
}

.product_info_buttons {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 2rem;
}

.product_info_buttons .white_button {
	margin-bottom: 0.5rem;
	align-items: baseline;
}

/*Advice for which flex tags to use to get the icon and text to line up on this button from my wife, Bri MacBAin*/
.product_info_buttons a.white_button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product_info img {
	width:auto;
}




/*Craftsmanship Video: maintained by Kai-Lee*/

.hero_grid h3 {
	margin-top: 6rem;
}

.play_icon {
	position: absolute;
	bottom: 30%;
	left: 50%;
}

.play_icon:hover img {
	opacity: 0.5;
}

@media screen and (max-width: 59.5em) {
	.play_icon img {
		width: 50%;
	}
}

@media screen and (max-width: 50em) {
	.play_icon img {
		width: 20%;
	}
}







/*Our Products In Your Home: maintained by Kai-Lee*/

.in_your_home {
	margin-top: 6rem;
}






/*Footer Menu styling: maintained by Kai-Lee*/

.footer_menu a {
	text-decoration:none;
	color:#FFFFFF;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:0.65rem;
}

.footer_menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
}

#footer_menu_links {
	display:flex;
	flex-direction: row;
}

#footer_menu_links a {
	margin-right: 2rem;
}

#footer_menu_socials {
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#footer_menu_socials img {
	width:auto;
}

#footer_menu_socials a {
	margin:0 0.5rem;
}

form.contact_us {
	font-family:'Mulish', Arial, sans-serif;
	margin:2rem 0rem;
	/*Code for flex box from: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
	display:inline-flex;
	flex-direction: column;
	align-items:center;
}

form.contact_us .grey_button {
	margin:2rem;
	border-width: 1px;
	border-style: none;
	outline: 1px solid rgba(255,255,255,0.5);
}

label.contact_us {
	text-transform:uppercase;
	font-weight:bold;
	font-size:0.75rem;
	margin:1rem 0 0 0;
}

input.contact_us {
	width:clamp(15rem, 30vw, 75rem);
	height:2.5rem;
	margin-top:2rem;
	padding:0 1rem;
	border-color:#C7C6C4;
	border-width: 1px;
	border-radius: 2px;
}

/*--------- Derek's Code thingies for modules ----------*/
.derek_section p {
	color: white;
}

.add_to_bag {
	width: 70%;
	height: 1.5rem;
	color: #DDDDDD;
	background-color: black;
	margin-bottom: 1rem;
	border-width: thin;
}

.shopping_container {
	min-height: 100%;
 	display: grid;
 	background-color: #131313;
}

.image_cart {
	border-top: 1px solid white;
	grid-column-start: 1;
	grid-column-end: span 2;
	padding-top: 1rem;
}

.shopping_cart {
	border-top: 1px solid white;
	grid-column: 3/10;
	padding: 1rem;
}

.shopping_cart ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.shopping_cart li {
	float: left; 
}

.shopping_cart h3 {
	color: white;
}

.li1 {
	width: 50%;
	font-family: "cinzel";
}

.li1 h3 {
	color: #908272;
}

.li2 {
	width: 25%;
	text-align: right;
}

.li3 {
	width: 25%;
	text-align: right;
}

.li4 {
	width: 70%;
}

.li5 {
	width: 30%;
	text-align: right;
}


.shopping_cart label {
	font-size: 1rem;
}

.shopping_cart a {
	text-decoration: none;
	padding: 1rem;
}

.shopping_cart h3 {
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}

.shopping_cart .li3 h3 {
	font-size: 2.5rem;
}

.shopping_cart h4 {
	font-size: 1.3rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.quantity_number2 {
	width: 1.5rem;
	text-align: center;
}

.shopping_cart p {
	width: 80%;
}

.remove_item {
	width: 70%;
	height: 1.5rem;
	color: #DDDDDD;
	background-color: black;
	margin-bottom: 1rem;
	border-width: thin;
}

.grid_container{
	min-height: 100%;
 	display: grid;
 	grid-template-columns: repeat(9, 1fr);
 	grid-template-rows: 5rem 1fr 1fr 1fr 5rem;
 	background-color: #131313;
 	/*text-align: center;*/
}

/*.grid_container header{
	grid-column-start: 1;
	grid-column-end: 10;
	text-align: center;
	background-color: #9FB3C8;
}
*/
.main{
	grid-column-start: 1;
	grid-column-end: span 2;
	background-color: #829AB1;
}

.side_bar{
	grid-column: 3/10;
	background-color: #627D98;
}

.card_row_container{
	grid-column: 2/9;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 0.5rem;
	background-color: #486581;
}

.card_row_container2{
	grid-column: 2/10;
	display: grid;
	grid-template-columns: 5fr 3fr;
	grid-column-gap: 0.5rem;
	text-align: left;
	background-color: #334E6B;
}

.product_card:first-of-type {
	margin-left: 0.5rem;
}

.product_card:last-of-type {
	margin-right: 0.5rem;
}

/* checkout module and profile module */
.checkout_module, .profile_module {
	background-color: #131313;
}

.checkout_module header {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid white;
}

.checkout_module header h4, .shopping_container header h4 {
	font-family: "cinzel";
	font-weight: 300;
	font-size: 2rem;
	padding-left: 5rem;
	margin: 0;
}

.checkout_module header h4 span{
	float: right;
}

.checkout_module header input {
	color: #DDDDDD;
	background-color: black;
	border-style: solid;
	border-width: thin;
	vertical-align: top;
	height: 1.5rem;
	width: 10rem;
	font-family: "mulish";
	font-size: 1rem;
}

.checkout_module h4, .profile_module h4 {
	color: #908272;
}

.checkout_main, .profile_module {
	display: grid;
 	grid-template-columns: repeat(12, 1fr);
}

.checkout_main label {
	font-size: 0.8rem;
}

.checkout_main input {
	font-size: 1.2rem;
	color: #DDDDDD;
	background-color: #131313;
	border-style: solid;
	border-width: thin;
	height: 2.5rem;
	width: 100%;
}

.checkout_form, .checkout_form2 {
	grid-column-start: 1;
	grid-column-end: span 9;
	margin-top: 1rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
	border-style: solid;
	border-width: thin;
	border-color: #DDDDDD;
}

.checkout_form2 {
	order: 3;
}

.checkout_main h5 {
	padding-left: 0.5rem;
	font-size: 1.5rem;
	margin: 0.5rem;
	color: #908272;
	font-family: "Mulish";
	font-weight: 100;
}

.text_column1 {
	float: left;
	width: 50%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.text_column2 {
	float: left;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.checkout_sidebar {
	grid-column: 10/13;
	margin-top: 1rem;
	order: 2;
	border-style: solid;
	border-width: thin;
	border-color: #DDDDDD;
	height: auto;
}

.checkout_sidebar p {
	width: 100%;
	margin: 0;
}

.checkout_sidebar span {
	float: right;
}

.checkout_sidebar br {
	height: 0.5rem;
}

.checkout_sidebar section {
	margin: 0 1rem 0 1rem;
	padding: 1rem 0 1rem 0;
	border-top: solid;
	border-width: thin;
	border-color: white;
}

.checkout_sidebar input {
	margin-top: 1rem;
}

.profile_module header {
	grid-column-start: 1;
	grid-column-end: 13;
	border-bottom: solid;
	border-width: thin;
	border-color: white;
}

.profile_module header ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.profile_module header li {
	float: left;
}

.profile_module header h4, .profile_module header a {
	font-family: "cinzel";
	font-weight: 300;
}

.profile_module header h4 {
	font-size: 1.5rem;
	margin: 0;
	padding: 1rem 1rem 0rem 1rem;
}

.profile_module header li a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	padding: 1.2rem 1rem 0rem 1rem;
}

.profile_module .float_right {
	float: right;
	padding: 1.2rem 1rem 0rem 1rem;
}

.profile_module .float_right h5 {
	margin: 0;
}

.profile_module header li a:hover, li a:focus {
	color: #908272;
	background-color: white;
	background-image: linear-gradient(to top, rgb(50,50,50), rgb(19,19,19));
}

.wishlist_grid {
	grid-column: 2/12;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 5rem;
}

.wishlist_product {
	padding: 2rem 0 2rem 0;
	margin: 0;
}

.wishlist_product p {
	width: 100%;
	margin: 0;
	padding-bottom: 1rem;
}

.wishlist_product h4 {
	font-family: "cinzel";
	font-size: 1.5rem;
	font-weight: 300;
	margin: 0;
	padding: 0.5em 0 0.5em 0;
}

.wishlist_product .add_to_bag, .wishlist_product .remove_item {
	width: 100%;
}