/* All code except those portions with comments indicating otherwise are from the SFU class IAT 339, taught by Paul Brokenshire, in the winter semester of 2021*/

* {
	box-sizing: border-box;
}

header {
	display: grid;
	grid-column: span 12;
}

main {
	grid-column: span 12;
}




/*Site Wide Grid Classes*/
.grid-container { /*12 column Site grid*/
 	display: grid;
	min-height: 100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto;
}

.grid-section { /*Grid applied to each section*/
	display: grid;
	/*How to force columns to stay the same width:
	https://css-tricks.com/equal-width-columns-in-css-grid-are-kinda-weird/*/
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin:0;
}

.grid-col-2-12 { /*Column spacing for columns spanning from column 2 to 12*/
	grid-column: 2 / 12;
}




/*Main navigation bar: maintained by Kai-Lee*/

.main-nav-grid {
	display: grid;
	grid-template-rows: auto auto auto;
    grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
}

.main-nav-grid .main-nav-title-items {
	grid-column: 2 / 12;
}

@media screen and (max-width: 57em) {
	.main-nav {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	#site-main-nav-toolbar {
		/*Advice for using the inherit value for the position property so that flex tags can be used on the toolbar elemnts which I had previously set to an absolute value from my wife, Bri*/
		position: inherit;
		justify-content: center;
	}

	.site-main-nav {
		justify-content: center;
		flex-direction: column;
	}

	ul.site-main-nav {
		align-items: center;
	}

	input.search-bar {
		border:1px solid white;
	}

	.site-main-nav li {
		margin-left: 0;
		margin-top: 0.5rem;
	}
}




/*Hero Image: maintained by Kai-Lee*/

.hero-grid {
	position: relative;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
}

.hero-image {
	grid-column: span 12;
}

.hero-text {
	grid-column: 2 / 12;
}

@media screen and (max-width: 43em) {
	.text-overlay h2 {
		font-size: 1.5rem;
	}

	.text-overlay a {
		font-size: 0.75rem;
	}
}




/*Curated Collections: maintained by Kai-Lee*/

.three-column-grid {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
}

.three-column-grid .three-column-grid-heading {
	grid-column: 2 / 12;
}

.three-column-grid-items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 2 / 12;
}

@media screen and (max-width: 54em) {
	.three-column-grid-items {
		grid-template-columns: 1fr;
	}

	.three-column-items {
		padding: 3rem 0;
		display: flex;
		flex-direction: column;
	}

	.three-column-items img {
		display: flex;
		justify-content: center;
		padding: 0;
		margin-right: 0;
		margin: 0;
	}

	.three-column-items h5 {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}

	.three-column-items p {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}




/*Product detail*/

.product-grid {
	display: grid;
	grid-template-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
}

.product-grid .product-grid-col-thumb {
    grid-column: 2/ 4;
}

.product-grid .product-grid-col-feature {
    grid-column: 4/ 12;
    grid-row: span 1;
}

.product-grid .product-grid-col{
    grid-column: 2/ 12;
}




/*Footer navigation and newsletter*/

.footer-grid {
	display: grid;
	grid-template-rows: auto auto auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
}

.footer-grid .footer-grid-col{
    grid-column: 2/ 12;
}

.footer-menu {
	display:grid;
	grid-column-start: 1;
	grid-column-end: 11;
	grid-template-columns: 1fr 1fr;
}

.newsletter {
	grid-column: span 12;
	display: flex;
    justify-content: center;
}

@media screen and (max-width: 32em) {
	.footer-menu {
		grid-template-columns: 1fr;
	}

	#footer-menu-links {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	#footer-menu-links li {
		display:flex;
		justify-content: center;
	}

	#footer-menu-links a {
		margin-bottom: 1rem;
		margin-right: 0;
	}

	#footer-menu-socials {
		justify-content: center;
	}
}


/* para_left_and_picture_right module (most popular look) */

.para_left_and_picture_right {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.para_left_and_picture_right_left_side {
	display: grid;
	grid-column: 1 / 6;
}

.para_left_and_picture_right_right_side {
	display: grid;
	grid-column: 8 / 13;
}



/* para_right_and_picture_left module (new look) */

.para_right_and_picture_left {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.para_right_and_picture_left_left_side {
	display: grid;
	grid-column: 1 / 6;
}

.para_right_and_picture_left_right_side {
	display: grid;
	grid-column: 8 / 13;
}


/*bryan's contact / shipping info page */
.contact_outer_grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/* grid-template-rows: 1fr 1fr;  */
}

.contact_page_title_module{
	display: grid;
	grid-column: 1 / 13;
}

.shipping_info_question_grid{
	display: grid;
	grid-column: 1 / 13;
}

.shipping_info_question_grid_left{
	display: grid;
	grid-column: 1 / 6;
}

.shipping_info_question_grid_right{
	display: grid;
	grid-column: 8 / 13;
}

/* bryan's about the company module */
.about_the_company{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	justify-items: center;
}

.about_company_title{
	grid-column: 1 / 13;
}

.about_company_para{
	grid-column: 1 / 13;
}

.round_profile_picture{
	border-radius: 100%;
}

.three_column_grid_items_profile_picture{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 2 / 12;
	grid-column-gap: 11rem;
}

@media screen and (max-width: 54em) {
	.three_column_grid_items_profile_picture {
		grid-template-columns: 1fr;
	}

	.three-column-items {
		padding: 3rem 0;
		display: flex;
		flex-direction: column;
	}

	.three-column-items img {
		display: flex;
		justify-content: center;
		padding: 0;
		margin-right: 0;
		margin: 0;
	}

	.three-column-items h5 {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}

	.three-column-items p {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}
