

/*Text Styling: maintained by Kai-Lee*/

body {
	font-weight:normal;
	margin-top:0;
	font-size:1rem;
	margin-left: 0;
	margin-right: 0;

}

h1 {
	font-size:4rem;
	font-family:'Italiana', Times New Roman, serif;
	color:#FFFFFF;
	margin-bottom:0;
	/*How to center align text taken from:
	https://www.w3schools.com/css/css_align.asp*/
	text-align:center;
	font-weight:400;
	line-height: 0.8;
}

/* How to style horizontal lines taken from:
https://www.w3schools.com/howto/howto_css_style_hr.asp
Figuring out how to adjust line weight by playing around with the opacity in inspect elements and suggesting to switch from hex values to rgb values in order to support the opacity change is from my wife, Bri */
hr {
	border-top:1px solid rgba(255, 255, 255, 0);
	margin-top:0;
	margin-bottom:1rem;
}

h2 {
	font-size:3rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
	margin-bottom: 0.5rem;
	margin-top:4rem;
}

h3 {
	font-size:2rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
}

h4 {
	font-size:1.5rem;
	font-family:'Cinzel', Times New Roman, serif;
	color:#908272;
	font-weight:400;
}

p {
	font-family:'Mulish', Arial, sans-serif;
	font-size:1rem;
	font-weight:lighter;
}

a {
	color:#908272;
	text-decoration:none;
}

a:hover {
	color:#BEA384;
	text-decoration:underline;
}

img {
	width:100%;
	height:auto;
}

main section {
	margin-left: 0;
	margin-right: 0;
}

section {
	margin-top: 2rem;
}

header {
	color:#131313;
}

ul {
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
}

ol {
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
}



/*Styling for sections with black background: maintained by Kai-Lee*/

.black-background {
	background-color:#131313;
	color:#FFFFFF;
}



/*Button styling: maintained by Kai-Lee*/

.black-button {
	font-family:'Mulish', Arial, sans-serif; 
	background-color:black;
	color:#FFFFFF;
	padding:1rem 2rem;
	outline: 1px solid rgb(255,255,255);
	text-transform:uppercase;
	display:inline-block;
	margin-bottom:2.5rem;
}

.grey-button {
	font-family:'Mulish', Arial, sans-serif; 
	background-color:#131313;
	color:white;
	padding:1rem 2rem;
	outline: 1px solid rgba(0,0,0,0.5);
	text-transform:uppercase;
	display:inline-block;
	margin-bottom:2.5rem;
}

.white-button {
	font-family:'Mulish', Arial, sans-serif; 
	background-color:white;
	color:black;
	padding:1rem 2rem;
	outline: 1px solid rgba(0,0,0,0.5);
	text-transform:uppercase;
	display:inline-block;
	margin-bottom:2.5rem;
}

.black-button:hover {
	background-color:white;
	color:black;
	outline: 1px solid rgba(0,0,0,0.5);
	text-decoration:none;
	color:black;
	display:inline-block;
	margin-bottom:2.5rem;
}

.grey-button:hover {
	background-color:white;
	color:black;
	outline: 1px solid rgba(0,0,0,0.5);
	text-decoration:none;
	color:black;
	display:inline-block;
	margin-bottom:2.5rem;
}

.white-button:hover {
	background-color:#C7C6C4;
	color:white;
	outline: 1px solid rgba(0,0,0,0.5);
	text-decoration:none;
	display:inline-block;
	margin-bottom:2.5rem;
}



/*Main navigation bar styling: maintained by Kai-Lee*/ 

/* Help understanding why centering the text and removing the underline for my mainNav class wasn't working the way I expected and advice to target mainNav and mainNav anchor elements separately from my wife, Bri */
.main-nav {
	text-align:center;
}

.main-nav a {
	padding:0.5em 2em;
	display:inline-block;
	text-decoration:none;
	color:#FFFFFF;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:0.65rem;
}

.main-nav a:hover {
	text-decoration:underline;
}

ul.site-main-nav {
	list-style-type:none;
	margin:0;
	padding:0;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
	font-size:0.75rem;
	text-align:right;
	display: flex;
	align-items: flex-end;
}

.site-main-nav li {
	display:inline;
	margin-left: 1rem;
}

a.sign-in {
	color:white;
	text-decoration:none;
	color:#FFFFFF;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:0.65rem;
}

a.sign-in:hover {
	color:#908272;
}


.search-bar {
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
	font-size:0.75rem;
	display:flex;
	align-items: flex-end;
	margin-right: 0.5rem;
}

input.search-bar {
	background-color:#131313;
	text-align: right;
	border:0;
}

input.search-bar:focus {
	/*Advice to use outline tag instead of border for input box from my wife, Bri MacBain*/
	outline: none;
	border:1px solid white;
}

input.search-button:focus {
	outline: none;
	border:1px solid white;
}

#site-main-nav-toolbar {
	/*Suggestion to use the position property to align the title toolbar elements from my wife, Bri MacBain. Tutorial for how to use this property from: https://css-tricks.com/almanac/properties/p/position/ 
	(parent elment below in the main_nav_title_items class*/
	position:absolute;
	right: 0;
	bottom: 0;
	display:flex;
	justify-content: flex-end;
}

#site-title {
	display: flex;
	justify-content: center;
}

.main-nav-title-items {
	position: relative;
}



/*Hero image styling: maintained by Kai-Lee*/

.hero-image {
	margin-bottom:1rem;
}

.hero-text {
	position: absolute;
	width:50%;
	max-width:100rem;
	bottom: 5rem;
}

.hero-text h2 {
	color:#FFFFFF;
}




/*Curated Collections styling: maintained by Kai-Lee*/

.three-column-grid-items {
	grid-column-gap: 1rem
}

.three-column-items h5 {
	width:auto;
	margin:0;
}





/*Product Detail: maintained by Kai-Lee*/
.product-thumbnail img {
	width: 4rem;
}




/*Footer Menu styling: maintained by Kai-Lee*/

.footer {
	margin: 5rem 0;
}

.footer-menu a {
	text-decoration:none;
	color:#FFFFFF;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size:0.65rem;
}

.footer-menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	font-family:'Mulish', Arial, sans-serif;
	font-weight:normal;
}

#footer-menu-links {
	display:flex;
	flex-direction: row;
}

#footer-menu-links a {
	margin-right: 2rem;
}

#footer-menu-socials {
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#footer-menu-socials img {
	width:auto;
}

#footer-menu-socials a {
	margin:0 0.5rem;
}

form.contact-us {
	font-family:'Mulish', Arial, sans-serif;
	margin:2rem 0rem;
	/*Code for flex box from: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
	display:inline-flex;
	flex-direction: column;
	align-items:center;
}

form.contact-us .grey-button {
	margin:2rem;
	border-width: 1px;
	border-style: none;
	outline: 1px solid rgba(255,255,255,0.5);
}

label.contact-us {
	text-transform:uppercase;
	font-weight:bold;
	font-size:0.75rem;
	margin:1rem 0 0 0;
}

input.contact-us {
	width:clamp(15rem, 30vw, 75rem);
	height:2.5rem;
	margin-top:2rem;
	padding:0 1rem;
	border-color:#C7C6C4;
	border-width: 1px;
	border-radius: 2px;
}







.clear{
	padding: 0;
	margin: 0;
}